.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
}

.logo {
  border: 1px solid black;
  padding: 5px;
  margin-right: 10px;
}

.pages {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.pages li {
  margin: 0 10px;
}

.pages li a {
  color: #fff;
  text-decoration: none;
}

.pages li a:hover {
  text-decoration: underline;
}

.user {
  margin-left: auto;
  display: flex;
  list-style: none;
  padding: 0;
}

.user li {
  margin: 0 10px;
}

.user li a {
  color: #fff;
  text-decoration: none;
}

.user li a:hover {
  text-decoration: underline;
}


.user button {
  padding: 2px 5px;
  font-size: 14px;
  background-color: transparent;
  border: none;
  outline: none;
}
